@page "/CreatePost"
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@namespace Components
@inject IPostService postService
@inject NavigationManager navMgr

<AuthorizeView>
	<NotAuthorized>
		<h2 style="text-align: center; padding: 3em">You have to be logged in to create a new post ❌</h2>
		<a href="/" class="link-primary text-center d-block">home</a>
	</NotAuthorized>
	<Authorized>
		<header class="masthead" style="background-image: url('img/home-bg.jpg')">
			<div class="container position-relative px-4 px-lg-5">
				<div class="row gx-4 gx-lg-5 justify-content-center">
					<div class="col-md-10 col-lg-8 col-xl-7">
						<div class="site-heading">
							<h1>Create post</h1>
							<span class="subheading">Create new posts here ➕</span>
						</div>
					</div>
				</div>
			</div>
		</header>

		<CreatePostForm/>

	</Authorized>
</AuthorizeView>

@code {


}
