@page "/"
@using HttpClients.ClientInterfaces
@using Components
@using Domain.Models
@inject IPostService postService
@inject IUserService userService

<PageTitle>Home</PageTitle>
<Hero/>
@if (posts != null)
{
	@code {



	}
	<!-- Main Content-->
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
			@foreach (var post in posts)
			{

				<!-- Post preview-->
				<PostComponent Post=@post/>
				<!-- Divider-->
				<hr class="my-4" />
			}
			</div>
		</div>
	</div>

}

@code
{
	private IEnumerable<Post>? posts;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			posts = await postService.GetAllAsync();

		}
		catch (Exception e)
		{
			Console.WriteLine(e);
		}
	}

	private async Task<User> GetUserAsync(int id)
	{
		try
		{
			User user = await userService.GetUserAsync(id);
			Console.WriteLine(user.UserName);
			return user;
		}
		catch (Exception e)
		{
			Console.WriteLine(e);
			return new User();
		}
	}

}


