<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
	<div class="container px-4 px-lg-5">
		<NavLink class="nav-link" href="">
			<a class="navbar-brand">Blogger</a>
		</NavLink>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ms-auto py-4 py-lg-0">
				<NavLink class="nav-link" href="">
					<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4">Home</a></li>
				</NavLink>

				<NavLink class="nav-link" href="account">
					<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4">Account</a></li>
				</NavLink>

				<NavLink class="nav-link" href="contact">
					<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4">Contact</a></li>
				</NavLink>

			</ul>
		</div>
	</div>
</nav>

@code {


}
