@using BlazorWasm.Services
@namespace Components
@inject IAuthService authService

<header class="masthead" style="background-image: url('img/home-bg.jpg')">
	<div class="container position-relative px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<div class="site-heading">
					<h1>Login</h1>
					<span class="subheading">Login with your account or <a href="/register" class="link-info"> register </a>  now 📇</span>
				</div>
			</div>
		</div>
	</div>
</header>

<LoginForm/>
