@using Domain.Models
@using HttpClients.ClientInterfaces
@namespace Components
@inject IUserService userService

<div class="post-preview">
	<img class="post-img" src="img/mac.jpg" alt="image">
	<a href="post/@Post.Id">
		<h2 class="post-title">@Post.Title</h2>
		<h3 class="post-subtitle">@Post.Body</h3>
	</a>
	<p class="post-meta">
		Posted by <span class="text-decoration-underline text-black fw-bold">@username</span>
	</p>
</div>

@code {
	[Parameter] public Post? Post { get; set; }
	// [Parameter] public User? User { get; set; }

	private string username;

	protected override async Task OnInitializedAsync()
	{
		await getUsernameAsync();
	}

	private async Task getUsernameAsync()
	{
		User user = await userService.GetUserAsync(Post.OwnerId);
		if (user != null)
		{
			username = user.UserName;
		}
	}

}
